/*POPSOVER PART*/
#fade-btn{
    position: absolute;
    transform-origin: center;
    transform: translate(50%,50%);
    padding: 1rem 2rem 1rem 2rem;
  right: 50%;
  bottom: 12%;
  border-radius:4px;
  border:1px solid #194f3162;
  background-color: #18181852;
  color: #fff;
  z-index:101;
  width:100%;
  margin: 0 auto;
  }
  #fade-btn:hover{
    border:1px solid #194f31b4;
    background-color: #206841b4;
    text-decoration:none;
  }
  #fade-btn:active{
    text-decoration: none;
  }
  .fade{
    position: absolute;
  z-index: 0;
  top: 0%;
  opacity:0;
  background-color: rgba(0, 0, 0, 0.507);
  padding-right: 30px;
  width: 100%;
  height:100%;
  padding-left: 5px;
  }
  
  .fade-item{
   color:white;
  }
  
  .bg-col{
    padding-top:11rem;
    padding-bottom:11rem;
    background-color: black;
  }
  
  .info-item h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
    font-weight: 700;
  }
  
  .cust-fade{
    max-width:100%;
    color:red
  }
  
  
  .custom-cont{
  display:flex;
  height:100%
  }
  